body {
  margin: 0;
  padding: 10px;
  font-family: sans-serif;
  min-width: 400px;
}

input {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid rgb(92, 0, 128);
  box-sizing: border-box;
}

#delete {
  background-color: white;
  color: rgb(92, 0, 128);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid rgb(92, 0, 128);
  font-weight: bold;
  margin-top: 4px;
  cursor: pointer;
}

button {
  background-color: rgb(92, 0, 128);
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  font-weight: bold;
  margin-top: 4px;
  cursor: pointer;
}

ul {
  margin-top: 20px;
  list-style: none;
  padding-left: 0;
}
li {
  margin-top: 5px;
}
li a {
  color: rgb(92, 0, 128);
}
